doctype html
html
  head
      block head
        title="Task Beaver"
        link(rel='stylesheet' href='/stylesheets/modal.css')
        link(rel='stylesheet' href='./fontawesome/css/all.css')
        script(src="/javascripts/addProject.js" type="module")
        script(src="/javascripts/searchbar.js" type="module")
        script(src="/javascripts/editProjectForm.js" type="module")
        script(src="/javascripts/listPopulate.js" type="module")
        script(src="/javascripts/deleteProject.js" type="module")
        script(src="/javascripts/addTask.js" type="module")
        script(src="/javascripts/deleteTask.js" type="module")
        script(src="/javascripts/dynamicSearch.js" type="module")

  body
    block content
