doctype html
html
  head
      block head
        title="Task Beaver"
        link(rel='stylesheet' href='/stylesheets/modal.css')
        script(src="/javascripts/index.js" type="module")
  body
    block content
