include utils.pug

head
  link(rel='stylesheet' href='/stylesheets/modal.css')

body
div(class='nav-container')
  div(id='welcome__user')
    span Welcome!
    span You have the current tasks!
  div(id='current__tasks')
    a(class='nav-link active' href='#') test
    a(class='nav-link' href='#') test
    a(class='nav-link' href='#') test
  div(id='logout__button')
    form(action='/logout' method='post')
      button(type='submit') Logout
div(class='home__display')
  div(class='project__list__div')
    div(class='project__add')
      button(id='project__add__button') Add a New Project!
    div(class='project__list')
      div(class='project__link')
        a(href="#") This is a project link
      div(class='project__link')
        a(href="#") This is a project link
        button(class='project__list__delete') D
      div(class='project__link')
        a(href="#") This is a project linkkkkkkkkkkkkkkkk
      div(class='project__link')
        a(href="#") This is a project link
      div(class='project__link')
        a(href="#") This is a project link
      div(class='project__link')
        a(href="#") This is a project linkkkkkkkkkkkkkkkk
      div(class='project__link')
        a(href="#") This is a project link
      div(class='project__link')
        a(href="#") This is a project link
      div(class='project__link')
        a(href="#") This is a project linkkkkkkkkkkkkkkkk
      div(class='project__link')
        a(href="#") This is a project link
  div(class='project__board')
    div(class='project__header')
      div(class='project__buttons')
        span
          button E
        span
          button D
        span
          button C
      span PROJECT NAME
      span
        button Search Bar
    div(class='project__task__container')
      div(class='task__title') Task Title1
      div(class='task__tag')
        span(class="badge bg-urgent") Urgent
      div(class='project__task' class='hidden')
        div(class='task__description') Task Description
    div(class='project__task__container')
      div(class='task__title') Task Title
      div(class='task__tag')
        span(class="badge bg-urgent") Urgent
      div(class='project__task' class='hidden')
        div(class='task__description') Task Description
          input(type='date' class='date')
    div(class='project__task__container')
      div(class='task__title') Task Title 5
      div(class='task__tag')
        span(class="badge bg-urgent") Urgent
      div(class='project__task' class='hidden')
        div(class='task__description') Task Description
    div(class='project__task__container')
      div(class='task__title') Task Title 6
      div(class='task__tag')
        span(class="badge bg-urgent") Urgent
      div(class='project__task' class='hidden')
        div(class='task__description') Task Description
    div(class='project__task__container')
      div(class='task__title') Task Title 7
      div(class='task__tag')
        span(class="badge bg-urgent") Urgent
      div(class='project__task' class='hidden')
        div(class='task__description') Task Description
          input(type='date' class='date')
    div(class='project__task__container')
      div(class='task__title') Task Title 8
      div(class='task__tag')
        span(class="badge bg-urgent") Urgent
      div(class='project__task' class='hidden')
        div(class='task__description') Task Description
    div(class='project__task__container')
      div(class='task__title') Task Title
      div(class='task__tag')
        span(class="badge bg-urgent") Urgent
      div(class='project__task' class='hidden')
        div(class='task__description') Task Description
    div(class='project__task__container')
      div(class='task__title') Task Title
      div(class='task__tag')
        span(class="badge bg-urgent") Urgent
      div(class='project__task' class='hidden')
        div(class='task__description') Task Description
          input(type='date' class='date')
    div(class='project__task__container')
      div(class='task__title') Task Title
      div(class='task__tag')
        span(class="badge bg-urgent") Urgent
      div(class='project__task' class='hidden')
        div(class='task__description') Task Description
    div(class='project__task__container')
      div(class='task__title') Task Title
      div(class='task__tag')
        span(class="badge bg-urgent") Urgent
      div(class='project__task' class='hidden')
        div(class='task__description') Task Description
    div(class='project__task__container')
      div(class='task__title') Task Title
      div(class='task__tag')
        span(class="badge bg-urgent") Urgent
      div(class='project__task' class='hidden')
        div(class='task__description') Task Description
          input(type='date' class='date')
    div(class='project__task__container')
      div(class='task__title') Task Title
      div(class='task__tag')
        span(class="badge bg-urgent") Urgent
      div(class='project__task' class='hidden')
        div(class='task__description') Task Description
    div(class='project__task__container')
      div(class='task__title') Task Title
      div(class='task__tag')
        span(class="badge bg-urgent") Urgent
      div(class='project__task' class='hidden')
        div(class='task__description') Task Description
    div(class='project__task__container')
      div(class='task__title') Task Title
      div(class='task__tag')
        span(class="badge bg-urgent") Urgent
      div(class='project__task' class='hidden')
        div(class='task__description') Task Description
    div(class='project__task__container')
      div(class='task__title') Task Title
      div(class='task__tag')
        span(class="badge bg-urgent") Urgent
      div(class='project__task' class='hidden')
        div(class='task__description') Task Description
    div(class='project__task__container')
      div(class='task__title') Task Title
      div(class='task__tag')
        span(class="badge bg-urgent") Urgent
      div(class='project__task' class='hidden')
        div(class='task__description') Task Description
    div(class='project__task__container')
      div(class='task__title') Task Title
      div(class='task__tag')
        span(class="badge bg-urgent") Urgent
      div(class='project__task' class='hidden')
        div(class='task__description') Task Description
    div(class='project__task__container')
      div(class='task__title') Task Title
      div(class='task__tag')
        span(class="badge bg-urgent") Urgent
      div(class='project__task' class='hidden')
        div(class='task__description') Task Description
    div(class='project__task__container')
      div(class='task__title') Task Title
      div(class='task__tag')
        span(class="badge bg-urgent") Urgent
      div(class='project__task' class='hidden')
        div(class='task__description') Task Description



  if !locals.authenticated
    div(class='modal' id='modal')
      div(class='modal__forms')
        div(class='modal__header')
          h1 TEST
        +errorsSummary(errors)
        form(action='/login' method='POST')
          input(type='hidden' name='_csrf' value=csrfToken)
          +form('Email Address','email','','email','email@email.com')
          +form('Password', 'hashedPassword', '', 'password')
          button(type='submit' class='button-class' id='Sign-up') Login
        div
        div(class='modal_sign_up')
          +errorsSummary(errorArray)
          form(action="/sign-up" method="POST")
            input(type="hidden" name="_csrf" value=csrfToken)
            +form("First Name", "firstName", '', "text")
            +form("Last Name", "lastName", '', "text")
            +form("Email", "email", '', "email")
            +form("Password", "hashedPassword", '', "password")
            +form("Confirm Password", "confirmPassword", "", "password")
            div
                button(type="submit" class="") Become a Beaver
