head
  link(rel='stylesheet' href='/stylesheets/modal.css')

body
div(class='nav-container')
  div(id='welcome__user')
    span Welcome!
    span You have the current tasks!
div(class="search")
    div(class="icon")
    div(class="input")
