*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(to bottom right, rgb(60, 55, 56), #b88c60);
  margin: 0px;
  overflow-x: hidden;
  padding: 2vh;
}

button {
  background: none;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  border: 1px black solid;
  cursor: pointer;
  border-radius: 15%;
}
.task__buttons {
  display: flex;
  justify-content: flex-start;
}
.date {
  background-color: grey;
}

/* MODAL CSS
============================================================
*/
.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), transparent),
    url("/images/Task_Beaver_Logo-01.png");
}
.modal__header {
  display: flex;
  flex-direction: column;
}
.modal__forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #aea39c;
  width: fit-content;
  padding: 1.5rem;
  border-radius: 10%;
}
.modal__sign-up {
  display: flex;
}

/* NAV CONTAINER CSS
=================================================================================
*/

#nav__logo {
  width: 225px;
  height: 100px;
}
.nav-container {
  display: flex;
  background-color: #b88c60;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
}
#logged__in__user {
  display: flex;
  flex-direction: row;
}
#logged__in__user > div {
  margin-right: 20px;
}
#welcome__user {
  width: fit-content;
  display: flex;
  justify-self: center;
  margin-right: 20px;
  font-size: 20px;
  text-align: center;
}

#current__tasks {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#in__progress__tasks {
  margin-left: 30px;
}
#completed__tasks {
  margin-right: 30px;
}

#current__tasks > a {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 22px;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
}

/* #current__tasks > a {
  border: 3px solid black;
  border-radius: 10px;
  margin-right: 15px;

  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.4);
} */

#current__tasks > a {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin-right: 20px;
  /* box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.4); */
  transition: ease-out 0.5s;
  padding: 5px 20px;
}

#current__tasks > a:hover {
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.1, 1.1) translateY(10px);
}

#current__tasks > a#dueTodayTasks {
  color: red;
}

.home__display {
  /* background-color: #aea39c; */
  display: flex;
  justify-content: center;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 15px;
  width: auto;
  height: 88%;
  /* border: 1.5px #aea39c solid; */
  border-radius: 12px;
}
/*PROJECT LIST CSS
=============================================================================
*/
#project__add__button {
  background: none;
  border: none;
  text-align: end;
  width: fit-content;
  height: fit-content;
  align-self: center;
  border: 1px black solid;
}

.add__project {
  display: flex;
  position: absolute;
  flex-direction: column;
  transform: translateY(100px);
  /* top: 100px; */
  z-index: 10;
  border: 1px rgb(148, 44, 44) solid;
  border-radius: 12px;
  background-color: #977661;
  text-align: center;
  padding: 20px;
  display: hidden;
  box-shadow: 0px 0px 5px 4px rgba(155, 84, 37, 0.4);
}

.project__add > p {
  font-size: 20px;
  font-weight: bold;
}

.add__project__error {
  text-align: center;
}

.project__list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  width: 400px;
  height: 727px;
  min-width: 150px;
  max-width: 200px;
  min-height: 400px;
  align-self: center;
  background-color: #aea39c;
  text-align: center;
  border-radius: 12px;
}

.project__list__div {
  position: absolute;
  /* transform: translateX(-525px); */
  left: 10%;
  align-self: flex-start;
  width: 200px;
  /* border: 1px black solid; */
  /* border-radius: 8px; */
}
.project__link {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 190px;
  border: 1px rgb(100, 20, 20) solid;
  border-radius: 15px;
  border-right: none;
  border-top: 25px rgba(141, 68, 39, 0.699) ridge;
  border-bottom: none;
  border-left: none;
}

.project__link > span {
  display: flex;
  justify-content: flex-end;
}

.project__add {
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: center;
  background-color: #aea39c;
  border-top: 2.5px black ridge;
  border-radius: 8px;
  margin-top: 5px;
  /* border: 1px black solid; */
}
.project__list__delete {
  width: 25px;
  height: 25px;
  justify-self: right;
}
.task__container__unhidden {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 60vh;
  border-bottom: 5px rgb(53, 50, 50) ridge;
  border-radius: 12px;
}
/* PROJECT BOARD CONTAINER CSS
===================================================================================
*/

.project__board {
  background-color: #aea39c;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  max-height: 85vh;
  height: 83vh;
  border-radius: 12px;
  /* padding-bottom: 10px; */
}
.project__main {
  height: 741px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #aea39c;
}
.project__task__container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  border: 1px black solid;
}
.project__header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  /* border: 1px black solid; */
}

.project__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border: 2px rgba(141, 68, 39, 0.699) solid;
  border-radius: 12px;
  margin-top: 18px;
}
.project__edit__buttons > span > button {
  /* display: flex; */
  background: none;
  border: none;
  align-items: center;
  width: 30px;
  height: 30px;
}
.project__name__display {
  display: flex;
  align-self: center;
}
.project__buttons > span {
  display: flex;
  padding: 5px;
}
.project__buttons > span > button {
  display: flex;
  background: none;
  border: none;
  align-items: center;
  width: 30px;
  height: 30px;
}

#search__button {
  /* display: flex; */
  /* justify-self: flex-end; */
  background: none;
  border: none;
}

/* TASK CONTAINERS CSS
=============================================================================
*/
.project__task {
  display: flex;
  width: 100%;
  height: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px blue solid;
}
.task__title {
  transform: translateY(12px);
  align-self: center;
  /* display: flex; */
  /* justify-content: center; */
  /* align-self: center; */
}
.task__tag {
  color: red;
  transform: translateY(-10px);
  /* border: 1px red solid; */
  align-self: flex-end;
}

/*  BADGE CSS
==================================================================================
*/
.badge {
  margin-right: 10px;
  display: inline-block;
  align-self: flex-end;
  color: white;
  border-radius: 0.25rem;
  width: fit-content;
  font-weight: 600;
  justify-content: center;
  padding: 1px 5px;
}
.bg-urgent {
  background-color: #dc3545;
}

i {
  color: #462c11;
}

/*only do bounce for trashcans.*/

i:hover {
  /* transform: translateY(-35%); */
  color: rgb(172, 65, 65);
  animation: bounce 0.8s linear;
}

@keyframes bounce {
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  70% {
    transform: translateY(-8px);
  }
  90% {
    transform: translateY(-2px);
  }
}

.project__task__container {
  background-color: rgba(170, 84, 50, 0.589);
  border-radius: 12px;
  margin-bottom: 5px;
  margin-right: 75px;
}

::-webkit-scrollbar {
  background-color: rgba(151, 113, 56, 0);
  width: 8px;
}

::-webkit-scrollbar-corner {
  background-color: aquamarine;
}

::-webkit-scrollbar-thumb {
  background-color: #462c11;
  background: linear-gradient(to left, #8f724d, #462c11);
  border-radius: 10px;
  width: 5px;
}

.add__task__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 25px;
}

.task__add__title {
  display: inline-block;
  width: 80%;
  border-radius: 12px;
  margin-right: 20px;
}

.div__task__add__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  margin-top: 25px;
  margin-bottom: 18px;
}

.tasks__container__hidden {
  height: 630px;
  /* border-bottom: 1px black solid; */
}

.task__add__description {
  border-radius: 12px;
}

.task__add__duedate {
  border-radius: 12px;
}

.task__select {
  border-radius: 12px;
  margin-right: 5px;
}

.project__header__name {
  font-size: 24pt;
  font-weight: bold;
}

.hidden__form__active {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  position: absolute;
  width: 85vh;
  /* flex-shrink: 1; */
  height: 136px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgba(151, 118, 97);
  /* transform: translateY(-152px); */
  top: 21.5%;
  right: 28.5%;
  border-radius: 12px;
  /* transform: translateX(); */
}
.project__header__unhidden {
  margin-bottom: 28px;
}
.project__details__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
  position: absolute;
  width: 85vh;
  height: 136px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgba(151, 118, 97);
  /* transform: translateY(-152px); */
  top: 21.5%;
  right: 28.5%;
  border-radius: 12px;
}
.project__description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14pt;
  width: 790px;
  margin-top: 25px;
  margin-bottom: 18px;
  border-radius: 12px;
  border: 1px black solid;
  border-radius: 12px;
  background-color: rgba(170, 84, 50, 0.582);
}
.project__title {
  display: flex;
  align-items: center;
  /* border: solid black 1px; */
  border-radius: 12px;
  font-weight: bold;
  /* background-color: rgba(170, 84, 50, 0.582); */
}
.project__dueDate {
  display: flex;
  align-items: center;
  /* border: solid black 1px; */
  border-radius: 12px;
  font-weight: bold;
}
.project__type {
  display: inline-block;
  justify-content: flex-end;
  /* border: solid black 1px; */
  border-radius: 12px;
  font-weight: bold;
}

#projectName {
  border-radius: 12px;
}

#url {
  border-radius: 12px;
}

#description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 790px;
  margin-top: 25px;
  margin-bottom: 18px;
  border-radius: 12px;
}

#dueDate {
  border-radius: 12px;
}

.hidden__form__input {
  border-radius: 12px;
  margin-right: 5px;
}

/* CLASS HIDDEN CSS  *NEEDS TO STAY AT THE BOTTOM*
*/
#hidden__form {
  border: 1px red solid;
  flex-direction: row;
  width: 689px;
  position: fixed;
  background: red;
  background-color: red;
  /* transform: translate(250px, 0px); */
  z-index: 10;
}
.hidden {
  display: none;
}
